</nav>{% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-devide-width" , initial-scale=1, maximum-scale=1 />
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Taskly | Dashboard</title>
</head>
{% include 'profile/base.html' %}
<br>

    <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px;">
        <h2>Taskly</h2>
        <hr>
        <img style="width: 200px;" src="{{profile.profile_pic.url}}">
        <br><br>
        <p>Welcome to Taskly <br><br> Your personal task manager application!</p>
        <br>
        <a class="btn btn-outline-primary navbar-btn" type="button" href="{% url 'profile-management' %}">Profile management</a>
    </div>
</html>