
{% load static %}

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width-devide-width", initial-scale=1, maximum-scale=1/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    {% include 'base.html' %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px;">
        <h3 class="text-center"> My Tasks </h3>
        <hr>
        {% for tsk in task %}

        <div class="container bg-white shadow-md p-5 form-layout" style="margin-top: 20px;">
        
            {{tsk.title}}

            <br><br>

            {{ tsk.content }}
        </div>
        {% endfor %}
    </div>
</html>







